# Data Analysis - Celebrity Deaths in 2016

Source: [Wikipedia - Deaths in 2016](https://en.wikipedia.org/wiki/Deaths_in_2016)

#### Structure of dataset:
- File: "celebrity_deaths_2016.xlsx"
- Contains 2 sheets:
 - "celeb_death": contains records of deaths of famous humans and non-humans
 - "cause_of_death": contains the causes of the deaths (you'll need to merge it with the "celeb_death" sheet)

#### Other information about the dataset:
- The cause of death was not reported for all individuals
- The dataset might include deaths that took place in other years (you'll need to ignore these records)
- The dataset might contain duplicate records (you'll need to remove them)

#### The goals of the exercise:
- Load, merge, and clean the data
- Explore the data and answer some simple questions
- Run some basic analysis
- Visualize your results

In [12]:
%%capture
###########################################################
### EXECUTE THIS CELL BEFORE YOU TO TEST YOUR SOLUTIONS ###
###########################################################
!pip install xlrd --user
import imp, os, sys
import importlib
sol = imp.load_compiled("sol", "./sol.py")
from nose.tools import assert_equal
from pandas.util.testing import assert_frame_equal, assert_series_equal

FileNotFoundError: [Errno 2] No such file or directory: './sol.py'

In [13]:
"""
We're providing most of the import statements you need for the entire exercise
"""

import pandas as pd
import matplotlib.pyplot as plt 

%matplotlib inline

### Load, merge, and clean the data

In [30]:
""" 1.
1. Load the "celebrity_deaths_2016.xlsx" data file in the name "xl"
2. Print the sheet names
"""

# your code here
xl = pd.ExcelFile('celebrity_deaths_2016.xlsx')
sheets = xl.sheet_names

print (sheets)

['celeb_death', 'cause_id_all', 'cause_of_death']

In [14]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_equal(xl.sheet_names, sol.xl.sheet_names)

NameError: name 'assert_equal' is not defined

In [19]:
""" 2.
1. Read the "celeb_death" sheet into a dataframe named "df"
2. Take a look at the top 5 rows. Save it in a variable called 'top5', then print it
"""
# your code here
df = xl.parse("celeb_death")
top5 = df.head()

print (top5)

  date of death             name age  \
0    2016-01-01        Tony Lane  71
1    2016-01-01   Gilbert Kaplan  74
2    2016-01-01      Brian Johns  79
3    2016-01-01  Natasha Aguilar  45
4    2016-01-01     Fazu Aliyeva  83

                                                 bio  cause_id
0              American art director (Rolling Stone)    8915.0
1                 American conductor and businessman    2860.0
2  Australian company director, managing director...    2860.0
3  Costa Rican swimmer, silver and bronze medalis...   33897.0
4                   Russian Avar poet and journalist   10648.0

In [20]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_frame_equal(top5, sol.top5)

NameError: name 'assert_frame_equal' is not defined

In [21]:
""" 3.
1. Take a look at the data types stored in each column in df. Store these in a variable called 'df_dtypes'
2. Get the shape of df. Store this in a variable called 'df_shape'
3. Print these
"""
# your code here

df_dtypes = df.dtypes
df_shape = df.shape

print (df_dtypes)
print (df_shape)

date of death    datetime64[ns]
name                     object
age                      object
bio                      object
cause_id                float64
dtype: object
(6594, 5)

In [22]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_series_equal(df_dtypes, sol.df_dtypes)
assert_equal(df_shape, sol.df_shape)

NameError: name 'assert_series_equal' is not defined

In [51]:
""" 4.
Drop the duplicates (based on all columns) from df
"""
# your code here
# seems wrong

df = df.drop_duplicates()

df.head()

,date of death,name,age,bio,cause_id
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),8915.0
1,2016-01-10,Jeanne Córdova,67,German-born American LGBT activist,8915.0
2,2016-02-03,Mark Farren,33,Irish football player (Derry City),8915.0
3,2016-02-06,Sudhir Tailang,55,Indian cartoonist,8915.0
4,2016-02-06,Dan Gerson,49,"American screenwriter (Monsters, Inc, Big Hero...",8915.0

In [24]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_frame_equal(df, sol.df2)

NameError: name 'assert_frame_equal' is not defined

In [25]:
""" 5.
1. Read the "cause_of_death" sheet into a DataFrame named "cause_of_death"
2. Take a look at the top 5 rows. Store this in a variable named cause_top5, then print it
"""
# your code here

cause_of_death = xl.parse("cause_of_death")
cause_top5 = cause_of_death.head()
print (cause_top5)

   cause_id cause of death
0       753            ALS
1      1039           bomb
2      1120           shot
3      1499           fall
4      1629           shot

In [26]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_frame_equal(cause_top5, sol.cause_top5)

NameError: name 'assert_frame_equal' is not defined

In [39]:
""" 6.
Drop the duplicates (based on the "cause_id" column) from the cause_of_death DataFrame

Hint: There is a single DataFrame method that does this
Use the "subset" argument to specify the "cause_id" column

Reference: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html
"""
# your code here

cause_of_death = cause_of_death.drop_duplicates('cause_id', keep = 'first')

TypeError: drop_duplicates() got multiple values for argument 'keep'

In [28]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_frame_equal(cause_of_death, sol.cause_of_death)

NameError: name 'assert_frame_equal' is not defined

In [50]:
""" 7.
1. Merge the cause_of_death DataFrame with the df DataFrame and name the new DataFrame as "df"
2. Take a look at the top 5 rows in df. Save these in a variable called df_top5, then print it

Note: There are records in df (left DataFrame) that do not have a matching record in cause_of_death (right DataFrame)
We want to see ALL records in df despite the missing matches in cause_of_death, so you DON'T want to use an "inner join"
"""
# your code here

df = pd.merge(left = df, right = cause_of_death, how = 'left', left_on = 'cause_id', right_on = 'cause_id')

df_top5 = df.head()

print (df_top5)

  date of death            name age  \
0    2016-01-01       Tony Lane  71
1    2016-01-10  Jeanne Córdova  67
2    2016-02-03     Mark Farren  33
3    2016-02-06  Sudhir Tailang  55
4    2016-02-06      Dan Gerson  49

                                                 bio  cause_id
0              American art director (Rolling Stone)    8915.0
1                 German-born American LGBT activist    8915.0
2                 Irish football player (Derry City)    8915.0
3                                  Indian cartoonist    8915.0
4  American screenwriter (Monsters, Inc, Big Hero...    8915.0

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################
assert_frame_equal(df_top5, sol.df_top5)

### Querying data

For the following questions, all the operations are on the Dataframe df.

In [ ]:
""" 8.
We'll be doing some calculations with the age column, but it was loaded from the data file as dtype "object"
So first, we need to cast DataFrame df to a numeric value
"""
# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_series_equal(df['age'], sol.df3['age'])

In [ ]:
""" 9.
What was the average age of death? Store this value in a variable called 'avg_age', then print it
"""
# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_equal(avg_age, sol.avg_age)

In [ ]:
""" 10.
How many people died after the age of 70?
-- Store the result count in a variable named "count" and print it
"""
# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_equal(count, sol.count)

In [ ]:
""" 11.
Who died the youngest and what was the cause of death?
-- Store the name in a variable named "youngest_name" and print it
-- Store the cause in a variable named "youngest_cause" and print it

Hint: Get the min age and find the record that has that value
"""
# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_series_equal(youngest_name, sol.youngest_name)
assert_series_equal(youngest_cause, sol.youngest_cause)

In [ ]:
""" 12.
We'll be running some queries based on the "bio" column, 
but it was loaded from the data file as an object.  So first, cast this column to a string.
"""
# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_series_equal(df['bio'], sol.df['bio'])

In [ ]:
""" 13.
How many American celebrities died?
-- Store the result count in a variable named "count_american" and print it

Hint: Search the bio for "American"
"""
# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_equal(count_american, sol.count_american)

In [ ]:
""" 14.
What was one known cause of death for celebrities who died at age 50?
-- Name the result as "rand_cause"
-- Print the result using "print("Age 50. Cause of Death:", rand_cause)"

Hint: 
Get all the celebrity death records for celebrities who died at 50  
Ignore the ones where the cause of death is unknown, or NaN
import random and randomly select one of the death records 
Extract the cause of death and store in a variable "rand_cause"
"""

#############################################################################################
### DO NOT MODIFY THIS! WE NEED TO SEED THE RANDOM VALUE TO ACCURATELY TEST YOUR SOLUTION ###
import random
random.seed(0)
#############################################################################################

# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

from nose.tools import assert_in
assert_in(rand_cause, sol.possible_causes.values)

In [ ]:
""" 15.
What was the mean age for each cause of death?

Hint: import numpy and group by 'cause of death', then get the mean age and store the 
resulting DataFrame in a variable named 'df_grouped_cause', then print it
"""
# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################
assert_frame_equal(df_grouped_cause, sol.df_grouped_cause)

### Count the number of people who died in each month of 2016
1. Create new columns that shows which month and year each person died in
2. Group all the entries based on the month they appeared in

In [ ]:
""" 16.
Make a new column in the DataFrame df with the numeric month of death

Hint:
Use the apply() method to run a function against the "date of death" column,
and return the numeric month (get the value by using ".month")
"""

def get_month(date):
    # your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_series_equal(df['month'], sol.df['month'])

In [ ]:
""" 17.
Make a new column in the DataFrame df with the year of death

Hint: Apply a function to get the year from the "date of death" column
"""

def get_year(date):
    # your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_series_equal(df['year'], sol.df['year'])

In [ ]:
""" 18.
Filter out any deaths that didn't take place in 2016
-- Name the new DataFrame as "df_2016"
"""
# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_frame_equal(df_2016, sol.df_2016)

In [ ]:
""" 19.
Using a pivot table, obtain a list that contains the number of people that died in each month
-- Use the new DataFrame "df_2016"
-- Name the result as "df_per_month"
"""
# your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

df_sub = df_per_month
df_sol = sol.df_per_month

df_sub.columns = ['namelen']
df_sol.columns = ['namelen'] 

assert_frame_equal(df_sub, df_sol)

### Data Visualization

In [ ]:
""" 20. 
Visualize the number of deaths per month as a bar chart

Hint: A DataFrame has a simple .plot() method you can use.  

The x axis should show the individual number of the month and the y axis should show the death counts
Don't forget to add a title and labels for the x and y axes
"""

# your code here



###########################
### DO NOT MODIFY THIS! ###
plt.show()
###########################

### Make a bar chart that plots the number of deaths per nationality
1. Create a new column that identifies the nationality of each celebrity, extracting the first word from the bio
2. Make a bar chart that plots the number of deaths per nationality

In [ ]:
""" 21.
Create a new column in the DataFrame df that identifies the nationality of each celebrity, 
extracting the first word from the bio

Hint:
To get the nationality from the bio, use the method split() on the column "bio" 
and use the first element in the split result as the nationality.

For simplicity purposes, don't worry about nationalities containing more than 1 word.  For example, 
when getting the nationality from "bio", it's OK to get "New" for New Zealand or "Costa" for Costa Rican.
"""

def get_nationality(bio):
    # your code here

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_series_equal(df['nationality'], sol.df['nationality'])

In [ ]:
""" 22.
Make a bar chart that plots the number of deaths per nationality
Only include nationalities with more than 50 deaths
-- Name the resulting Series as "unlucky_countries"
Hint(s):
Get the count of unique values in the 'nationality' column using the value_counts() method.
Filter the resulting Series to only include those nationalities with a count of more than 50.
Plot the final Series.  Note, a Series has a simple .plot() method you can use.
The x axis should show the individual nationalities and the y axis should show the death counts
Don't forget to add a title and labels for the x and y axis
"""
# your code here




###########################
### DO NOT MODIFY THIS! ###
plt.show()
###########################

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

df_uc_sub = unlucky_countries.sort_values(ascending=True)
df_uc_sol = sol.unlucky_countries.sort_values(ascending=True)
 
assert_series_equal(df_uc_sub, df_uc_sol)